@media screen and (min-width: 768px) {
    body {
        max-width: 1080px;
        min-width: 960px;
        margin: 0px auto;
        color: black;
        font-family: "Source Sans Pro", "Hiragino kaku Gothic ProN", Meiryo, Arial, sans-serif;
    }
    #menu-sp, #nav-sp {
        display: none;
    }    
}

p {
    font-size: 15px;
}

#main-visual > img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
    flex-grow: 1; 
}

#nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    white-space: nowrap;
}

#nav-pc > a:hover {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 767px) {
    body {
        min-width: 375px;
        margin: 0px;
    }
    #nav-pc {
        display: none;
    }
}

#menu-sp {
    float: right;
}

#nav-sp {
    background-color: #ce933e;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
}

#nav-sp a {
    display: block;
    color: #ffffff;
}

#nav-sp li {
    list-style: none;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#logo-sp {
    margin: 80px 0px 30px 20px; 
}

#nav-sp > a:hover {
    text-decoration: underline;
    color: #ffffff; 
}

#nav-sp .menu {
    text-decoration: none;
    display: block;
    margin: 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
    color: white;
}










    
    
    
      
    
      
    
      
    
        
        
    
      
      
    
      
   
    